@model UsersApp.Models.User.UserDTO

@{
    Layout = null;
}

<button id="userPanelmodalBtn" style="display: none;" data-bs-toggle="modal" data-bs-target="#userPanel"></button>
<div class="modal fade" id="userPanel" tabindex="-1" aria-labelledby="userPanelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-end">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h5 class="modal-title text-center text-white" id="userPanelLabel">User Profile</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p class="text-center">@Model.Email</p>
@*                <form id="myDropzone" class="dropzone" action="/Upload/HandleUpload" method="post">
*@                    <input type="file" id="filepondUserProfile" class="filepond" name="filepond" multiple data-max-files="3">
@*                </form>
*@                <div class="text-center">
                    <img class="userPanel-img" src="~/Assets/userDefault.png" />
                </div>
                <p class="text-center"><strong>Hi, @Model.FirstName!</strong></p>
                <div type="button" class="btn btn-info text-white">Edit account</div>
            </div>
            <a class="btn btn-link mb-3 text-start" href="@Url.Action("Restore", "Start")">Restore password</a>
        </div>
    </div>
</div>
<style>
    .userPanel-img {
        width: 7rem;
        height: 7rem;
    }
</style>
<script>
    document.getElementById('user-img').addEventListener('click', function () {
        document.getElementById('userPanelmodalBtn').click();
    });
</script>
<script>
    const inputElement = document.querySelector('input[type="file"]');
    const pond = FilePond.create(inputElement, {
        files: [
            {
                source: '~/Assets/userDefault.png', // Ruta del archivo predeterminado
                options: {
                    type: 'local', // Especifica que el archivo es local
                }
            }
        ],
        maxFiles: 3,
        allowMultiple: true,
        labelIdle: 'Arrastra y suelta tus archivos o <span class="filepond--label-action"> haz clic aquí </span>',
        server: {
            process: '/Upload/HandleUpload',
            headers: {
                'X-CSRF-TOKEN': '{{ csrf_token }}'
            }
        }
    });

</script>
